.footer {
  width: px2rem(750px);
  margin: 0 auto;
  .df-footer {
    margin: 0 px2rem(40px);
    padding: px2rem(80px) 0 px2rem(30px);
    color: #777777;
    font-size: px2rem(22px);
    border-top: 1px solid #CCCCCC;
  }
  .foot-l {
    float: left;
  }
  .foot-series {
    margin-bottom: px2rem(10px);
  }
  .foot-medium{
    margin-bottom:0;
  }
  .foot-r {
    float: right;
    width: px2rem(110px);
    height: px2rem(110px);
  }
  .foot-b {
    margin-top: px2rem(100px);
    text-align: center;
    font-size: px2rem(20px);
    color: #777777;
  }
  .foot-b .df-record{
    color:#777777;
  }
}
